
/* ========================================
POPUP MODAL SECTION - INDEX
======================================== */

html {
  position:relative;
}

.homePopUp {
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display:flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
}

.homePopUpHidden {
  display:none;
}

.homePopUpContent {
  background-color: $orangeColor;
  padding: 3rem;
  margin-top: 20vh;
  display:flex;
  flex-direction: column;
}

.homePopUpClose {
  font-family: $bigHeadingFontFamily;
  color: $redColor;
  display: flex;
  justify-content: flex-end;
  margin-bottom:2rem;
  margin-right: -1rem;
}

.homePopUpClose span {
  border: 1px solid $primaryFontColor;
}

.homePopUpClose p span:hover {
  color: $redColorActive;
  border: 1px solid $primaryFontColor;
}



/* ========================================
ABOUT SECTION - INDEX
======================================== */

.about {
  background-color: $backgroundColor;
  padding: 150px 0;
}

.aboutHome {
  display:flex;
  flex-flow: row wrap;
}

.aboutItems {
  display:flex;
  margin: 1rem 0;
  width: 50%;
}

.aboutItems span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $redColor;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-top:.25rem;
  margin-right: .5rem;
}

/* ========================================
BLOG SECTION - INDEX & BLOG
======================================== */

.blog {
  background-color: $secondaryBackgroundColor;
}

.articlesFlexContainer {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flexItem {
  width: calc(50% - 5rem);
  padding: 2.5rem 0;
}

.articlePics {
  position: relative;
}

.blogPicBackgrounds {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.articleContainer1 {
  padding-right: 8%;
}

.articleContainer2 {
  padding-left: 8%;
}

//These images do not have any real meaning to 'plan ahead' and 'new locations' and would not make a difference to the content if they are not seen. They are only for styling.
.blogPicBackground1 {
  background-image: url(../assets/left-image.jpg);
  box-shadow: 1rem 1rem $orangeColor;
  top: -1.3rem;
  right: 0;
}

.blogPicBackground2 {
  background-image: url(../assets/right-image.jpg);
  box-shadow: -1rem 1rem $orangeColor;
  bottom: -2rem;
  left: 0;
}

/* ========================================
HOST PARTY SECTION - INDEX
======================================== */

.hostParty {
	background-color: $backgroundColor;
	text-align: center;
  padding-top: 150px;
}

.aboutContentWrapper {
  padding-bottom:50px;
}

.hostParty p {
	margin: 1rem 5rem;
}

//banner image - no meaning to the content and is just for styling.
.bannerImage {
  background-image: url(../assets/banner-image.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
	width: 100%;
  height:40vh;
}

/* ========================================
EVENTS SECTION - INDEX
======================================== */

.event {
  padding: 100px 0;
  background-color: $backgroundColor;
}

.eventContainer {
  display:flex;
  flex-direction: row;
  text-align: left;
}

.eventPic {
  min-width: 15.2rem; /* min width size of 304px*/
  padding-right: 4rem;
  position: relative;
}

.eventPic img {
  height: 15.2rem; /* max height size of 304px*/
  box-shadow: -1rem 1rem .1rem $orangeColor;
  background-size:contain;
}

.eventContent {
  width: calc(100% - 15.2rem - 2rem);
}

.blogContent h2 {
  margin: 0;
}

/* ========================================
GALLERY SECTION - INDEX
======================================== */

.gallery {
  background-color: $secondaryBackgroundColor;
  padding: 100px 0;
}

.galleryContainer {
	display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.galleryPics {
	width: 32%;
}

.galleryPics img {
	height: 100%;
}

/* ========================================
===========================================
MEDIA QUERIES - Desktop first to mobile
===========================================
======================================== */

//responsive design for small desktop screens
@media (max-width: 940px) {

  // === ABOUT ===  //
  .about {
    padding: 5rem 0;
  }

  // ===  BLOG  === //
  .outerWrapper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .flexItem {
    width: 100%;
    padding: 0;
  }

  .articleContainers {
    padding: 1rem 0;
    text-align: center;
  }

  .blogPicBackgrounds {
    position: relative;
  }

  // ===  Host a Party  === //
  .hostParty {
    padding: 1rem;
  }

  
  // ===  EVENT  === //
  .event {
    padding: 1rem 0
  }

  .eventContainer {
    flex-direction: column;
    align-items: center;
  }

  .eventContent {
    width: 100%;
    text-align: center;
  }

  .eventPic {
    padding: 0;
  }

}

//responsive design for tablets
@media (max-width: 768px) {

  //about sections
  .aboutItems {
    width: 100%;
  }
  
  .about {
    padding: 4rem 0;
  }
  
  .blogPicBackgrounds {
    position: absolute;
  }
  
  //hostParty section
  .hostParty p {
    margin: 1rem 0;
  }
  
  //GALLERY
  .gallery {
    padding: 2.5rem 0;
  }
  
  .galleryPics {
    width: 100%;
    text-align: center;      
    padding: 1rem 0,
  }   
}

//responsive design for phones
@media (max-width: 480px) {
  //about sections
  .about {
    padding: 2.5rem 0;
  }
  
  .eventPic img {
    box-shadow: -0.5rem 0.5rem .1rem $orangeColor;
    height:100%
  }
  
  .eventPic {
    min-width: 100%;
    padding: 1rem 0;
  }
  
  .bannerImage {
    background-position: center right;
  }
}