


// Fonts
$mainFontFamily: 'Chathura', sans-serif;
$bigHeadingFontFamily: 'Tulpen One', cursive;

//Font color
$primaryFontColor: #FFFFFF;
$secondaryFontColor: #FF8327;

//background colors
$backgroundColor: #111010;
$secondaryBackgroundColor: #220303;
$orangeColor: #FF8327;
$redColor: #BF2603;
$footerBackground: #111010ca;

