
// Normalize import
@import 'normalize';


// variables import
@import 'variables';


/* ========================================
TYPOGRAPHY
======================================== */

html {
	font-family: $mainFontFamily;
	font-size: 125%; /* setting font-size default to 20px*/
	line-height: 1.5;
}


h1, h2, h3, h4, li, p, a {
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 4.16rem;  //83.2px
  font-weight: bold;
  letter-spacing: 0.13rem;  //2.6px
  line-height: 4.735rem;  //94.7px
}

.logo {
  font-family: $bigHeadingFontFamily;
  font-weight: normal;
  color: $orangeColor;
  font-size: 13.07rem;  //261.4px
  letter-spacing: 0.12rem;  //2.4px
  display:block;
}

h2 {
  font-size: 3.4rem;  //68px
  letter-spacing: 0.11rem;  //2.2px
  line-height: 2.9rem;  //85px
}
h3 {
  font-size: 2.25rem;  //40px
  letter-spacing: 0.11rem;  //2.2px
  line-height: 0.5;
}

p {
  font-size: 1.95rem;  //39px
  line-height: 1.5rem;  //30px
  letter-spacing: 0.095rem; //1.9px
}

a {
  font-size: 1.9rem; //38px
  font-weight: bold;
  line-height: 1.45rem;  //29px
  letter-spacing: 0.095rem; //1.9px
}

ul li .navLogo {
  font-family: $bigHeadingFontFamily;
  font-size: 3.4rem;  //68px
  font-weight: normal;
}

button {
	font-family: $bigHeadingFontFamily;
  color: $primaryFontColor;
  font-weight: normal;
}


/* ========================================
GENERAL STYLES
======================================== */

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.outerWrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}


//button general styles
button {
	font-size: 2rem; //40px
  letter-spacing: 0.05rem; //1px
	text-transform: capitalize;
  background-color: $redColor;
  padding: .25rem 1.5rem;
  border:none;
  margin: 1.5rem 0;
}


//list general styles
ul {
  list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none; 
}

//text general styles
h1, h2, h3, h4, li, p, a {
  color: $primaryFontColor;
}

img {
  max-width: 100%;
  height: 100%
}

/* ||||||||||  INDEX.HTML ||||||||||| */
/* ========================================
HEADER - INDEX, CONTACT & BLOG
======================================== */


header {
  background-repeat: no-repeat;
  // background-position:top left;
	background-size:cover;
	width: 100%;
  height:70vh;
  position:relative
}

.headerHome {
  background-image: url(../assets/home-image-1.jpg);
}

.headerBlog {
  background-image: url(../assets/blog-header-1.jpg);
  background-position: center;
}

.headerContact {
  background-image: url(../assets/contact-header-1.jpg);
  background-position: center;
}

.headerContent {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0; //40px  top and bottom
  height:100%;
}

.mobileNav {
  display: none;
}

.nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15%;

}

.navHome li:first-of-type a {
  color: $orangeColor;
}

.navBlog li:nth-last-child(2) a {
  color: $orangeColor;
}

.navContact li:last-child a {
  color: $orangeColor;
}

.nav a {
  padding: 0 .5rem; //10px left and right
  text-transform: uppercase;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  border-bottom: 2px solid $orangeColor;
}

.headerH1Container {
  display:flex;
  justify-content: center;
  margin: 1rem;
}

h1 {
  z-index: 10;
}

h1 span{
  margin: -.35rem;  //7px
  line-height: 7rem;  //140px
}

.subPageH1 {
  padding-bottom: 20vh;
}


.headerImage {
  background-image: url(../assets/header-box.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
  bottom: -10vh;
  right: 0;
  height:50vh;
	width: 50%;
  z-index: 5;
}



/* ========================================
ABOUT SECTION - INDEX
======================================== */

.about {
  background-color: $backgroundColor;
  z-index:-10;
  padding: 150px 0;
}

.aboutHome {
  display:flex;
  flex-flow: row wrap;
}

.aboutItems {
  display:flex;
  margin: 1rem 0;
  width: 50%;
}

.aboutItems span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $redColor;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-top:.25rem;
  margin-right: .5rem;
}



/* ========================================
BLOG SECTION - INDEX & BLOG
======================================== */

.blog {
  background-color: $backgroundColor;
  z-index: -10;
}

.articlePic1 {
  background-image: url(../assets/left-image.jpg);
}

.articlePic2 {
  background-image: url(../assets/right-image.jpg);
}


.articlesFlexContainer {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: $secondaryBackgroundColor;
}

.flexItem {
  width: calc(50% - 5rem);
  padding: 2.5rem 0;
}

.articlePics {
  position: relative;
  background-repeat: no-repeat;
}

.blogPicBackgrounds {
  position: absolute;
  background-color: $orangeColor;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.blogPicBackground1 {
  top: 1rem;
  left: 1rem;
}

.blogPicBackground2 {
  top: 1rem;
  right: 1rem;
}



/* ========================================
HOST PARTY SECTION - INDEX
======================================== */

.hostParty {
	background-color: $backgroundColor;
	text-align: center;
  padding-top: 150px;
}

.aboutContentWrapper {
  padding-bottom:50px;
}

.hostParty p {
	margin: 1rem 5rem;
}

.bannerImage {
  background-image: url(../assets/banner-image.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
	width: 100%;
  height:40vh;
}

/* ========================================
EVENTS SECTION - INDEX
======================================== */

.event {
  padding: 100px 0;
  background-color: $backgroundColor;
}

.eventContainer {
  display:flex;
  flex-direction: row;
  text-align: left;
}

.eventPic {
  min-width: 15.2rem; /* min width size of 304px*/
  padding-right: 2rem;
  position: relative;
  z-index: 10;
}

.eventPic img {
  height: 15.2rem; /* max height size of 304px*/
  background-size:contain;

}

.eventContent {
  width: calc(100% - 15.2rem - 2rem);
}

.blogContent h2 {
  margin: 0;
}

.eventImgOverlay {
  position: absolute;
  background-color: $orangeColor;
  height: 90%;
  width: calc(100% - 2rem);
  max-height: 15.2rem; /* max height size of 304px*/
  background-size:contain;
  top:0;
  left: 0;
  z-index: -1;
}



/* ========================================
GALLERY SECTION - INDEX
======================================== */

.gallery {
  background-color: $secondaryBackgroundColor;
  padding: 100px 0;
}

.galleryContainer {
	display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.galleryPics {
	width: 32%;
}

.gallery img {
	height: 100%;
}

/* ========================================
FOOTER SECTION - INDEX, CONTACT & BLOG
======================================== */

footer {
  background-color: $footerBackground;
  text-align: center;
}

/* ||||||||||  BLOG.HTML SPECIFIC ||||||||||| */
/* ========================================
BLOG PAGE - ASIDE & PRIMARY BLOG SECTION
======================================== */

.blogBackground {
  background-color: $backgroundColor;
  // position: relative;
}

.blogContainer {
  display:flex;
  flex-flow: row nowrap;
}


.asideContainer {
  background-color: $secondaryBackgroundColor;
  margin-top: 8rem;
  padding: 19rem 1.5rem 1.5rem;
  margin-right: 3rem;
  position: relative;
}


.blogAsideImg {
  background-image: url(../assets/sidebar-image.jpg);
  background-repeat: no-repeat;
  background-position: left;
  position:absolute;
  top: -1rem;
  right: 1rem;
  height: 19rem;
  width: 19rem;
  margin-left: -6rem;
}

.newMenuBorder {
  padding-left: 5rem;
  padding-bottom: 5rem;
  border-left: 1px solid $orangeColor;
  border-bottom: 1px solid $orangeColor;
}

.blogRecentPosts p::before {
  content: "●"; 
  font-size: 1rem;
  color: red;
  margin: 0 .25rem;
}

/* ========================================
BLOG PAGE - BLOG COMMENTS AND FORM
======================================== */

.blogComments {
  padding-left: 4rem;
  padding-top: 4rem;
}

.blogComment {
  display:flex;
  padding: 2rem 0;
}

.commentPic {
  width: 45%;
  height: 4.5rem;
  margin-right: 1rem;
}

.textColor {
  color: $orangeColor;
  display:block;
  padding-bottom: 1rem;
}

.contactBlogForm {
  padding-bottom: 5rem;
}

.form-top {
  display:flex;
  color: $primaryFontColor;
  justify-content: space-between;
}

form label {
  font-size: 1.95rem;  //39px
  margin-left: 2rem;
}

form button {
  width: 100%;
}

.formInput {
  display:flex;
  flex-direction: column;
  width:48%
}

input[type="text"],
input[type="email"] {
  color: $primaryFontColor;
  background-color: $backgroundColor;
  border: none;
  border-bottom: 2px solid $orangeColor;
}

.form-bottom textarea {
  padding:1rem;
  color: $primaryFontColor;
  width: 100%;
  height: 8rem;
  line-height: 1.5;
  resize:none;
  background-color: $backgroundColor;
  border: 2px solid $orangeColor;
}
.form-bottom textarea[placeholder="comment"] {
  color: $primaryFontColor;
  padding-top:1rem;
  padding-left:1rem;
}



/* ||  CONTACT.HTML   */


/* ========================================
===========================================
MEDIA QUERIES - Desktop first to mobile
===========================================
======================================== */

//responsive design for small desktop screens
@media (max-width: 940px) {

  //navigation
  .nav {
    margin: 0;
  }

  // event
  .eventContainer {
    flex-direction: column;
    align-items: center;

  }

  .eventContent {
    width: 100%;
    text-align: center;
  }

    //BLOG
    .flexItem {
      margin: 0;
    }



}

//responsive design for tablets
@media (max-width: 768px) {

    //BLOG
    .flexItem {
      width:100%;
      margin: 0;
    }

    //GALLERY

    .gallery {
      padding: 2.5rem 0;
    }

    .galleryPics {
      width: 100%;
      text-align: center;      
      padding: 1rem 0,
    }   



  //navigation transition to hamburger

  .headerContent {
    padding-bottom: 0;
  }

  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: contents;
  }

  .mobileNav .nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .nav a:hover,
  .nav a:focus,
  .nav a:active {
    border-bottom: none;
  }

  .nav a {
    padding: 2rem 0; //20px top and bottom
  }


  .headerH1Container {
    text-align: center;
  }

  h1 span {
    line-height: 10rem;
  }


  //about sections
  .aboutItems {
    width: 100%;
  }

  //hostParty section
  .hostParty p {
    margin: 1rem 0;
  }

}




//responsive design for phones
@media (max-width: 480px) {


  // header section
  header {
    height:100vh;
  }
  .headerImage {
    display:none;
  }
  

//about sections
  .about {
    padding: 50px 0;
  }



}