@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========================================
TYPOGRAPHY
======================================== */
html {
  font-family: "Chathura", sans-serif;
  font-size: 125%;
  /* setting font-size default to 20px*/
  line-height: 1.5;
}

h1, h2, h3, h4, li, p, a {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.16rem;
  font-weight: bold;
  letter-spacing: 0.13rem;
  line-height: 4.735rem;
}

.logo {
  font-family: "Tulpen One", cursive;
  font-weight: normal;
  color: #FF8327;
  font-size: 13.07rem;
  letter-spacing: 0.12rem;
  display: block;
}

h2 {
  font-size: 3.4rem;
  letter-spacing: 0.11rem;
  line-height: 2.9rem;
}

h3 {
  font-size: 2.25rem;
  letter-spacing: 0.11rem;
  line-height: 0.5;
}

p {
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
}

a {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 1.45rem;
  letter-spacing: 0.095rem;
}

ul li .navLogo {
  font-family: "Tulpen One", cursive;
  font-size: 3.4rem;
  font-weight: normal;
}

button {
  font-family: "Tulpen One", cursive;
  color: #FFFFFF;
  font-weight: normal;
}

/* ========================================
GENERAL STYLES
======================================== */
.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.outerWrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

button {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  background-color: #BF2603;
  padding: 0.25rem 1.5rem;
  border: none;
  margin: 1.5rem 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, li, p, a {
  color: #FFFFFF;
}

img {
  max-width: 100%;
  height: 100%;
}

/* ||||||||||  INDEX.HTML ||||||||||| */
/* ========================================
HEADER - INDEX, CONTACT & BLOG
======================================== */
header {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  position: relative;
}

.headerHome {
  background-image: url(../assets/home-image-1.jpg);
}

.headerBlog {
  background-image: url(../assets/blog-header-1.jpg);
  background-position: center;
}

.headerContact {
  background-image: url(../assets/contact-header-1.jpg);
  background-position: center;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  height: 100%;
}

.mobileNav {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15%;
}

.navHome li:first-of-type a {
  color: #FF8327;
}

.navBlog li:nth-last-child(2) a {
  color: #FF8327;
}

.navContact li:last-child a {
  color: #FF8327;
}

.nav a {
  padding: 0 0.5rem;
  text-transform: uppercase;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  border-bottom: 2px solid #FF8327;
}

.headerH1Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

h1 {
  z-index: 10;
}

h1 span {
  margin: -0.35rem;
  line-height: 7rem;
}

.subPageH1 {
  padding-bottom: 20vh;
}

.headerImage {
  background-image: url(../assets/header-box.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -10vh;
  right: 0;
  height: 50vh;
  width: 50%;
  z-index: 5;
}

/* ========================================
ABOUT SECTION - INDEX
======================================== */
.about {
  background-color: #111010;
  z-index: -10;
  padding: 150px 0;
}

.aboutHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.aboutItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  width: 50%;
}

.aboutItems span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BF2603;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

/* ========================================
BLOG SECTION - INDEX & BLOG
======================================== */
.blog {
  background-color: #111010;
  z-index: -10;
}

.articlePic1 {
  background-image: url(../assets/left-image.jpg);
}

.articlePic2 {
  background-image: url(../assets/right-image.jpg);
}

.articlesFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #220303;
}

.flexItem {
  width: calc(50% - 5rem);
  padding: 2.5rem 0;
}

.articlePics {
  position: relative;
  background-repeat: no-repeat;
}

.blogPicBackgrounds {
  position: absolute;
  background-color: #FF8327;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.blogPicBackground1 {
  top: 1rem;
  left: 1rem;
}

.blogPicBackground2 {
  top: 1rem;
  right: 1rem;
}

/* ========================================
HOST PARTY SECTION - INDEX
======================================== */
.hostParty {
  background-color: #111010;
  text-align: center;
  padding-top: 150px;
}

.aboutContentWrapper {
  padding-bottom: 50px;
}

.hostParty p {
  margin: 1rem 5rem;
}

.bannerImage {
  background-image: url(../assets/banner-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}

/* ========================================
EVENTS SECTION - INDEX
======================================== */
.event {
  padding: 100px 0;
  background-color: #111010;
}

.eventContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
}

.eventPic {
  min-width: 15.2rem;
  /* min width size of 304px*/
  padding-right: 2rem;
  position: relative;
  z-index: 10;
}

.eventPic img {
  height: 15.2rem;
  /* max height size of 304px*/
  background-size: contain;
}

.eventContent {
  width: calc(100% - 15.2rem - 2rem);
}

.blogContent h2 {
  margin: 0;
}

.eventImgOverlay {
  position: absolute;
  background-color: #FF8327;
  height: 90%;
  width: calc(100% - 2rem);
  max-height: 15.2rem;
  /* max height size of 304px*/
  background-size: contain;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ========================================
GALLERY SECTION - INDEX
======================================== */
.gallery {
  background-color: #220303;
  padding: 100px 0;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galleryPics {
  width: 32%;
}

.gallery img {
  height: 100%;
}

/* ========================================
FOOTER SECTION - INDEX, CONTACT & BLOG
======================================== */
footer {
  background-color: #111010ca;
  text-align: center;
}

/* ||||||||||  BLOG.HTML SPECIFIC ||||||||||| */
/* ========================================
BLOG PAGE - ASIDE & PRIMARY BLOG SECTION
======================================== */
.blogBackground {
  background-color: #111010;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.asideContainer {
  background-color: #220303;
  margin-top: 8rem;
  padding: 19rem 1.5rem 1.5rem;
  margin-right: 4rem;
  position: relative;
}

.blogAsideImg {
  background-image: url(../assets/sidebar-image.jpg);
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  top: -1rem;
  right: 1rem;
  height: 19rem;
  width: 19rem;
  margin-left: -6rem;
}

.newMenuBorder {
  padding-left: 5rem;
  padding-bottom: 5rem;
  border-left: 1px solid #FF8327;
  border-bottom: 1px solid #FF8327;
}

.blogRecentPosts p::before {
  content: "●";
  font-size: 1rem;
  color: red;
  margin: 0 0.25rem;
}

/* ========================================
BLOG PAGE - BLOG COMMENTS AND FORM
======================================== */
.blogComments {
  padding-left: 4rem;
  padding-top: 4rem;
}

.blogComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}

.commentPic {
  width: 45%;
  height: 4.5rem;
  margin-right: 1rem;
}

.textColor {
  color: #FF8327;
  display: block;
  padding-bottom: 1rem;
}

/* ||  CONTACT.HTML   */
/* ========================================
===========================================
MEDIA QUERIES - Desktop first to mobile
===========================================
======================================== */
@media (max-width: 940px) {
  .nav {
    margin: 0;
  }

  .eventContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .eventContent {
    width: 100%;
    text-align: center;
  }

  .flexItem {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .flexItem {
    width: 100%;
    margin: 0;
  }

  .gallery {
    padding: 2.5rem 0;
  }

  .galleryPics {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .headerContent {
    padding-bottom: 0;
  }

  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: contents;
  }

  .mobileNav .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }

  .nav a:hover,
.nav a:focus,
.nav a:active {
    border-bottom: none;
  }

  .nav a {
    padding: 2rem 0;
  }

  .headerH1Container {
    text-align: center;
  }

  h1 span {
    line-height: 10rem;
  }

  .aboutItems {
    width: 100%;
  }

  .hostParty p {
    margin: 1rem 0;
  }
}
@media (max-width: 480px) {
  header {
    height: 100vh;
  }

  .headerImage {
    display: none;
  }

  .about {
    padding: 50px 0;
  }
}