@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========================================
TYPOGRAPHY
======================================== */
html {
  font-family: "Chathura", sans-serif;
  font-size: 125%;
  /* setting font-size default to 20px*/
  line-height: 1.5;
}

h1, h2, h3, h4, li, p, a {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.16rem;
  font-weight: bold;
  letter-spacing: 0.13rem;
  line-height: 4.735rem;
}

.logo {
  font-family: "Tulpen One", cursive;
  font-weight: normal;
  color: #FF8327;
  font-size: 13.07rem;
  letter-spacing: 0.12rem;
  display: block;
}

h2 {
  font-size: 3.4rem;
  letter-spacing: 0.11rem;
  line-height: 2.9rem;
}

h3 {
  font-size: 2.25rem;
  letter-spacing: 0.11rem;
  line-height: 0.5;
}

p {
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
}

a {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 1.45rem;
  letter-spacing: 0.095rem;
}

ul li .navLogo {
  font-family: "Tulpen One", cursive;
  font-size: 3.4rem;
  font-weight: normal;
}

button {
  font-family: "Tulpen One", cursive;
  color: #FFFFFF;
  font-weight: normal;
}

/* ========================================
GENERAL STYLES (INCLUDES FOOTER STYLES)
======================================== */
.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.outerWrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

button {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  background-color: #BF2603;
  padding: 0.25rem 1.5rem;
  border: none;
  margin: 1.5rem 0;
}

button:active {
  background-color: #5f1100;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, li, p, a {
  color: #FFFFFF;
}

img {
  max-width: 100%;
  height: 100%;
}

.srOnly:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

/* ========================================
FOOTER SECTION - INDEX, CONTACT & BLOG
======================================== */
footer {
  background-color: #111010ca;
  text-align: center;
}

footer p {
  line-height: normal;
}

/* ========================================
HEADER - INDEX, CONTACT & BLOG PAGES
======================================== */
header {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  position: relative;
}

.headerBlog,
.headerContact {
  height: 50vh;
}

.headerHome {
  background-image: url(../assets/home-image-1.jpg);
}

.headerBlog {
  background-image: url(../assets/blog-header-1.jpg);
  background-position: center;
}

.headerContact {
  background-image: url(../assets/contact-header-1.jpg);
  background-position: center;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  height: 100%;
}

.mobileNav {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15%;
}

.navHome li:first-of-type a {
  color: #FF8327;
}

.navBlog li:nth-last-child(2) a {
  color: #FF8327;
}

.navContact li:last-child a {
  color: #FF8327;
}

.nav a {
  padding: 0 0.5rem;
  text-transform: uppercase;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  border-bottom: 2px solid #FF8327;
}

.headerH1Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

h1 {
  z-index: 10;
}

h1 span {
  margin: -0.35rem;
  line-height: 7rem;
}

.headerHome {
  padding-bottom: 3vh;
}

.subPageH1 {
  padding-bottom: 10vh;
}

.headerImage {
  background-image: url(../assets/header-box.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -10vh;
  right: 0;
  height: 50vh;
  width: 50%;
  z-index: 5;
}

/* ========================================
===========================================
MEDIA QUERIES - Desktop first to mobile
===========================================
======================================== */
@media (max-width: 940px) {
  .nav {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .headerContent {
    padding-bottom: 0;
  }

  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: contents;
  }

  .mobileNav .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }

  .nav a:hover,
.nav a:focus,
.nav a:active {
    border-bottom: none;
  }

  .nav a {
    padding: 2rem 0;
  }

  .headerH1Container {
    text-align: center;
  }

  h1 span {
    line-height: 10rem;
  }
}
@media (max-width: 480px) {
  header {
    height: 100vh;
  }

  .headerImage {
    display: none;
  }
}
/* ========================================
INDEX PAGE STYLES
======================================== */
/* ========================================
ABOUT SECTION - INDEX
======================================== */
.about {
  background-color: #111010;
  z-index: -10;
  padding: 150px 0;
}

.aboutHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.aboutItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  width: 50%;
}

.aboutItems span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BF2603;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

/* ========================================
BLOG SECTION - INDEX & BLOG
======================================== */
.blog {
  background-color: #220303;
}

.articlesFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexItem {
  width: calc(50% - 5rem);
  padding: 2.5rem 0;
}

.articlePics {
  position: relative;
}

.blogPicBackgrounds {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.articleContainer1 {
  padding-right: 8%;
}

.articleContainer2 {
  padding-left: 8%;
}

.blogPicBackground1 {
  background-image: url(../assets/left-image.jpg);
  -webkit-box-shadow: 1rem 1rem #FF8327;
          box-shadow: 1rem 1rem #FF8327;
  top: -1.3rem;
  right: 0;
}

.blogPicBackground2 {
  background-image: url(../assets/right-image.jpg);
  -webkit-box-shadow: -1rem 1rem #FF8327;
          box-shadow: -1rem 1rem #FF8327;
  bottom: -2rem;
  left: 0;
}

/* ========================================
HOST PARTY SECTION - INDEX
======================================== */
.hostParty {
  background-color: #111010;
  text-align: center;
  padding-top: 150px;
}

.aboutContentWrapper {
  padding-bottom: 50px;
}

.hostParty p {
  margin: 1rem 5rem;
}

.bannerImage {
  background-image: url(../assets/banner-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}

/* ========================================
EVENTS SECTION - INDEX
======================================== */
.event {
  padding: 100px 0;
  background-color: #111010;
}

.eventContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
}

.eventPic {
  min-width: 15.2rem;
  /* min width size of 304px*/
  padding-right: 4rem;
  position: relative;
}

.eventPic img {
  height: 15.2rem;
  /* max height size of 304px*/
  -webkit-box-shadow: -1rem 1rem 0.1rem #FF8327;
          box-shadow: -1rem 1rem 0.1rem #FF8327;
  background-size: contain;
}

.eventContent {
  width: calc(100% - 15.2rem - 2rem);
}

.blogContent h2 {
  margin: 0;
}

.eventImgOverlay {
  position: absolute;
  background-color: #FF8327;
  height: 90%;
  width: calc(100% - 2rem);
  max-height: 15.2rem;
  /* max height size of 304px*/
  background-size: contain;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ========================================
GALLERY SECTION - INDEX
======================================== */
.gallery {
  background-color: #220303;
  padding: 100px 0;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galleryPics {
  width: 32%;
}

.gallery img {
  height: 100%;
}

/* ========================================
===========================================
MEDIA QUERIES - Desktop first to mobile
===========================================
======================================== */
@media (max-width: 940px) {
  .about {
    padding: 5rem 0;
  }

  .outerWrapper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .flexItem {
    width: 100%;
    padding: 0;
  }

  .articlePic1 {
    background-image: url(../assets/left-image.jpg);
    width: 100%;
    height: 100%;
  }

  .articlePic2 {
    background-image: url(../assets/right-image.jpg);
    width: 100%;
    height: 100%;
  }

  .articleContainers {
    padding: 1rem 0;
    text-align: center;
  }

  .blogPicBackgrounds {
    position: relative;
  }

  .hostParty {
    padding: 1rem;
  }

  .event {
    padding: 1rem 0;
  }

  .eventContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .eventContent {
    width: 100%;
    text-align: center;
  }

  .eventPic {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .aboutItems {
    width: 100%;
  }

  .about {
    padding: 4rem 0;
  }

  .blogPicBackgrounds {
    position: absolute;
  }

  .hostParty p {
    margin: 1rem 0;
  }

  .gallery {
    padding: 2.5rem 0;
  }

  .galleryPics {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 2.5rem 0;
  }

  .eventPic img {
    -webkit-box-shadow: -0.5rem 0.5rem 0.1rem #FF8327;
            box-shadow: -0.5rem 0.5rem 0.1rem #FF8327;
    height: 100%;
  }

  .eventPic {
    min-width: 100%;
    padding: 1rem 0;
  }

  .bannerImage {
    background-position: center right;
  }
}
/* ========================================
BLOG PAGE STYLES
======================================== */
.blogBackground {
  background-color: #111010;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.asideContainer {
  width: 30%;
}

.blogSection {
  width: 70%;
}

.asideContainerBackground {
  background-color: #220303;
  margin-top: 6rem;
  padding: 19rem 1.5rem 1.5rem;
  position: relative;
}

.blogAsideImg {
  background-image: url(../assets/sidebar-image.jpg);
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  top: -1rem;
  right: 1rem;
  height: 19rem;
  width: 19rem;
  margin-left: -6rem;
}

.blogSection {
  position: relative;
  top: -8rem;
  right: -2.5rem;
}

.newMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newMenuImg {
  -webkit-box-shadow: -1rem 1rem #FF8327;
          box-shadow: -1rem 1rem #FF8327;
  position: relative;
  left: 1rem;
  height: 100%;
  width: 100%;
}

.newMenuBorder {
  padding: 5rem 5rem 3rem;
  border-left: 0.15rem solid #FF8327;
  border-bottom: 0.15rem solid #FF8327;
}

.newMenuBorder p {
  padding: 0.5rem 0;
}

.blogRecentPosts p::before {
  content: "●";
  font-size: 1rem;
  color: red;
  margin: 0 0.25rem;
}

/* ========================================
BLOG PAGE - BLOG COMMENTS AND FORM
======================================== */
.blogComments {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-right: 4rem;
}

.blogComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}

.commentPic {
  width: 100%;
  min-width: 5rem;
  height: 5rem;
}

.commentContent {
  margin-left: 1rem;
}

.textColor {
  color: #FF8327;
  display: block;
  padding-bottom: 1rem;
}

.formTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form label {
  font-size: 1.95rem;
  margin-left: 2rem;
}

form button {
  width: 100%;
}

.formInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

input[type=text],
input[type=email] {
  color: #FFFFFF;
  background-color: #111010;
  border: none;
  border-bottom: 2px solid #FF8327;
}

.formBottom textarea {
  padding: 1rem;
  margin: 2rem 0;
  color: #FFFFFF;
  width: 100%;
  height: 8rem;
  line-height: 1.5;
  resize: none;
  background-color: #111010;
  border: 2px solid #FF8327;
}

/* ========================================
===========================================
MEDIA QUERIES - Desktop first to mobile
===========================================
======================================== */
@media (max-width: 940px) {
  .blogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .asideContainer {
    width: 100%;
  }

  .blogSection {
    width: 100%;
    top: 0;
    right: 0;
  }

  .newMenuImg {
    margin: 2rem 0;
  }

  .newMenuBorder {
    padding: 0;
    border: none;
    width: 100%;
  }

  .newMenuImg {
    -webkit-box-shadow: -1rem 1rem #FF8327;
            box-shadow: -1rem 1rem #FF8327;
    left: 0;
  }

  .blogComments {
    padding: 3rem 0 1rem;
  }

  .asideContainerBackground {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    background-color: #220303;
    margin: 1rem auto;
    padding: 1rem;
    position: relative;
  }

  .blogRecentPosts ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .blogRecentPosts ul li {
    width: 50%;
  }

  .blogAsideImg {
    display: none;
  }
}
@media (max-width: 480px) {
  .asideContainer {
    padding-bottom: 1.5rem;
  }

  .blogRecentPosts ul li {
    width: 100%;
  }

  .newMenuImg {
    -webkit-box-shadow: -0.5rem 0.5rem #FF8327;
            box-shadow: -0.5rem 0.5rem #FF8327;
  }

  .blogComment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .commentContent {
    margin-left: 0rem;
  }

  .commentPic {
    padding-bottom: 1rem;
    height: 6rem;
    width: 6rem;
  }

  .formTop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .formInput {
    width: 100%;
  }

  input[type=text],
input[type=email] {
    border: 2px solid #FF8327;
  }
}
/* ========================================
Contact PAGE STYLES
======================================== */
.contactPageMain {
  background-color: #111010;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactInfo {
  width: 28%;
  padding-right: 1rem;
}

.socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 1rem;
}

.socialMedia ul a {
  padding-right: 1.25;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
}

.contactPageForm {
  width: 72%;
  position: relative;
  top: -7rem;
  background-color: #220303;
  padding: 3rem 4rem;
  -webkit-box-shadow: 1rem 1rem 0.1rem #FF8327;
          box-shadow: 1rem 1rem 0.1rem #FF8327;
}

.contactFormTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form label {
  font-size: 1.95rem;
  margin-left: 2rem;
}

form button {
  width: 100%;
}

.contactFormInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.contactFormInput input[type=text],
.contactFormInput input[type=email] {
  color: #FFFFFF;
  background-color: #220303;
  border: none;
  border-bottom: 2px solid #FFFFFF;
}

.contactFormBottom textarea {
  padding: 1rem;
  margin: 2rem 0;
  color: #FFFFFF;
  width: 100%;
  height: 8rem;
  line-height: 1.5;
  resize: none;
  background-color: #220303;
  border: 2px solid #FFFFFF;
}

/* ========================================
===========================================
MEDIA QUERIES - Desktop first to mobile
===========================================
======================================== */
@media (max-width: 940px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contactInfo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 1rem 0;
  }

  .contactPageForm {
    width: 100%;
    position: relative;
    top: 0rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 2rem;
    -webkit-box-shadow: 1rem 1rem 0.1rem #FF8327;
            box-shadow: 1rem 1rem 0.1rem #FF8327;
  }
}
@media (max-width: 480px) {
  .contactFormTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #FFFFFF;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  form label {
    margin-left: 0;
  }

  form button {
    width: 100%;
  }

  .contactFormInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .contactFormInput input[type=text],
.contactFormInput input[type=email] {
    border: 2px solid #FFFFFF;
  }

  .contactPageForm {
    -webkit-box-shadow: 0.5rem 0.5rem 0.1rem #FF8327;
            box-shadow: 0.5rem 0.5rem 0.1rem #FF8327;
  }
}